#ngo {position: absolute;
       left: 300px; 
       top: 750px;
       text-align: center;
       }
#ngo h2 {
    left: 250px;
}
#info {position: absolute;
       right: 300px; 
       top: 75px;}
#rank {position: absolute;
       right: 200px; 
       top: 200px;}

#chart {
position: absolute;
       right: 200px; 
       top: 300px;
}
#map    {position: relative; min-height: 500px; }

.district, .disputed, .state rect, .state path { stroke: #a9a9a9; stroke-width: 1px; }

.district:hover { stroke: #777777; stroke-width: 1px; fill-opacity: .7; }
.state:hover rect { stroke: #777777; stroke-width: 2px; fill-opacity: .7; }
.state:hover path { fill-opacity: .7; }

#stateList {
        position: absolute;
        left: calc((100% - 20px)/2);
        padding: 15px 15px;
        border-radius: 8px;
        top: 1px;
}

#categoryList {
        position: absolute;
        right: 200px;
        padding: 15px 15px;
        border-radius: 8px;
}

#select {
	position:absolute;
	left: 580px;
	top: 100px;
        font: 12px sans-serif;
        color: #333;
}

#tooltip h3 {
        margin:2px;
        font-size:14px;
}
#tooltip h4 {
        margin:2px;
        font-size:10px;
}
#tooltip {
        position: absolute;           
        background:rgba(0,0,0,0.8);
        text-align: left;
        border:1px;
        border-radius:5px;
        font: 12px sans-serif;        
        width:auto;
        padding:4px;
        color:white;
        opacity:0;
        pointer-events: none;         
}
#tooltip table{
        table-layout:fixed;
}
#tooltip tr td{
        padding:2px;
        margin:0;
}

.radar-chart .level {
  stroke: grey;
  stroke-width: 0.5;
}

.radar-chart .axis line {
  stroke: grey;
  stroke-width: 1;
}
.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 10px;
}
.radar-chart .axis .legend.top {
  dy:1em;
}
.radar-chart .axis .legend.left {
  text-anchor: start;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: end;
}

.radar-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}

/* area transition when hovering */
.radar-chart .area {
  stroke-width: 2;
  fill-opacity: 0.5;
}
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.7;
}

.radar-chart .circle {
  fill-opacity: 0.9;
}

/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 0;
}

body {
      padding: 20px;
    }
    .radar-chart .area {
      fill-opacity: 0.7;
    }
    .radar-chart.focus .area {
      fill-opacity: 0.3;
    }
    .radar-chart.focus .area.focused {
      fill-opacity: 0.9;
    }
    .area.germany, .germany .circle {
      fill: #FFD700;
      stroke: none;
    }
    .area.argentina, .argentina .circle {
      fill: #ADD8E6;
      stroke: none;
    }
